<html>
<head>
	<title>first</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/css/style.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
<meta name='viewport' content='width=device-width, initial-scale=1'>
	<script type="text/javascript" src="C:/Users/ANKITA ADITYA/Desktop/dbms_project/nodemysql/style.js"></script>
</head>
<body>
<body class="bdy" background="q2.jpg">
<h1 class="at">About Us</h1>
<hr width="560px" height="10px" color="#e0dde4">
<div class="abt">
<strong>Venison beef pork loin pork chop, tongue landjaeger tenderloin shankle tail fatback shank. Chuck tail tenderloin tongue, corned beef alcatra beef capicola leberkas. Rump venison ground round fatback. Fatback swine pastrami salami drumstick ham beef leberkas pork loin picanha chicken tail buffalo pork. Pork belly ribeye landjaeger, prosciutto cow tri-tip pig t-bone flank strip steak turkey. Porchetta pork loin shoulder, fatback boudin bresaola picanha cow pork belly shank corned beef swine tri-tip beef. Pork chop burgdoggen tenderloin ball tip, pancetta brisket jerky meatloaf corned beef cow drumstick flank picanha tail.
</strong></div>
<div class="abt1"><strong>
Venison beef pork loin pork chop, tongue landjaeger tenderloin shankle tail fatback shank. Chuck tail tenderloin tongue, corned beef alcatra beef capicola leberkas. Rump venison ground round fatback. Fatback swine pastrami salami drumstick ham beef leberkas pork loin picanha chicken tail buffalo pork. Pork belly ribeye landjaeger, prosciutto cow tri-tip pig t-bone flank strip steak turkey. Porchetta pork loin shoulder, fatback boudin bresaola picanha cow pork belly shank corned beef swine tri-tip beef. Pork chop burgdoggen tenderloin ball tip, pancetta brisket jerky meatloaf corned beef cow drumstick flank picanha tail.
</strong></div>
<% include partials/footer %>