<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1> hello</h1>
<% ani.forEach(function(ma) { %>
                     <h5><b><%= ma.animal_id %></b></h5>
                    <p><%= ma.animal_name %></p> <br>
                    <% }); %>
</body>
</html>
