<html>
<head>
<title>
	qqq
	</title>
	
	<link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/css/style.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
<meta name='viewport' content='width=device-width, initial-scale=1'>
	<script type="text/javascript" src="C:/Users/ANKITA ADITYA/Desktop/dbms_project/nodemysql/style.js"></script>
</head>
<body>
<br>

<p>
<% q1.forEach(function(ma) { %>
<li><%= ma.animal_id %> --- <%= ma.animal_name %> -- <%= ma.animal_age %></li>
<% }); %>
<br>
</p>

<% include partials/footer %>