<% include partials/header %>

<div class="mlp__header">
<div class="heading-underlined">
<h1 class="heading-underlined__heading mt_heading--h4--2">
<p class="p1"><b> ANIMAL TYPES</b></p>
<hr align="center" height="10px" width="250px" color="brown" height="15px">
</h1>
<div class="heading-underlined__underline"></div>
</div>
</div>

<div class="container">
  <section class="body container responsive">
    <div class="row">
        <div class="col-lg-4">
            <div class="card mb-3">
                <img src="a1.jpg" alt="Check Pattern" class="card-img-top">
                 <div class="card-body cb1">
                     <h5 class="card-title ct1"><b>Mammals</b></h5>
                     <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corrupti quam magnam! Veniam, dolorum facere? Commodi, ut. Et, itaque quam!></p> -->
                     <a href="/mammals" class="btn btn-outline-success">See All</a>
                 </div>
            </div>
        </div>
        <div class="col-lg-4">
                <div class="card mb-3">
                    <img src="a2.jpg" alt="Check Pattern" class="card-img-top">
                     <div class="card-body cb2">
                         <h5 class="card-title ct2"><b>Birds</b></h5>
                    <!--   <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corrupti quam magnam! Veniam, dolorum facere? Commodi, ut. Et, itaque quam!></p> -->
                         <a href="/birds" class="btn btn-outline-success">Explore More</a>
                     </div>
                </div>
        </div>
        <div class="col-lg-4">
                <div class="card mb-3">
                    <img src="aa.jpg" alt="Check Pattern" class="card-img-top">
                     <div class="card-body cb3">
                         <h5 class="card-title ct3"><b>Amphibians</b></h5>
                         <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corrupti quam magnam! Veniam, dolorum facere? Commodi, ut. Et, itaque quam!></p> -->
                         <a href="/amphibians" class="btn btn-outline-success">Know More</a>
                     </div>
                </div>
        </div>
        </div>
        </section>
        </div>
<div class="container">
  <section class="body container responsive d7">
        <div class="row">
        <div class="col-lg-4">
                <div class="card mb-3">
                    <img src="a3.jpg" alt="Check Pattern" class="card-img-top">
                     <div class="card-body cb4">
                         <h5 class="card-title ct4">Reptiles</h5>
                         <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corrupti quam magnam! Veniam, dolorum facere? Commodi, ut. Et, itaque quam!></p> -->
                         <a href="/reptiles" class="btn btn-outline-success">Explore More</a>
                     </div>
                </div>
        </div>
        <div class="col-lg-4">
                <div class="card mb-3">
                    <img src="f.jpg" alt="Check Pattern" class="card-img-top">
                     <div class="card-body cb5">
                         <h5 class="card-title ct5">Fish</h5>
                         <!-- <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corrupti quam magnam! Veniam, dolorum facere? Commodi, ut. Et, itaque quam!></p> -->
                         <a href="/fish" class="btn btn-outline-success">See All</a>
                     </div>
                </div>
        </div>
    </div>
    </section>
</div>

<% include partials/footer %>