<% include partials/header %>

<div class="mlp__header">
<div class="heading-underlined">
<h1 class="heading-underlined__heading mt_heading--h4--2">
<p class="p1"><b> MAMMALS</b></p>
<hr align="center" height="10px" width="250px" color="brown" height="15px">
</h1>
<div class="heading-underlined__underline"></div>
</div>
</div>
<div class="dropdown">
  <button onclick="myFunction()" class="dropbtn"> Choose Mammal </button>
  <div id="myDropdown" class="dropdown-content">
    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
    <a href="/mammals/6">m1</a>
    <a href="/mammals/6">m2</a>
    <a href="/mammals/6">m3</a>
    <a href="/mammals/6">m4</a>
    <a href="/mammals/6">m5</a>
    <a href="/mammals/6">m6</a>
    <a href="/mammals/6">m7</a>
  </div>
</div>
<a href="/category/<%= m.sub_category_name %>" class="btn btn-outline-success">vulnerable</a>

<div class="container">
  <section class="body container responsive">
    <div class="row">
<% m.forEach(function(ma) { %>
        <div class="col-lg-4">
            <div class="card mb-3 ">
                <img src="a1.jpg" alt="Check Pattern" class="card-img-top">
                 <div class="card-body cb1 ">
                     <h5 class="card-title ct1"><b><%= ma.animal_id %></b></h5>
					<p class="card-text"><%= ma.animal_name %></p> 
                     <a href="/mammals/<%= ma.animal_id %>" class="btn btn-outline-success">See All</a>
                 </div>
            </div>
        </div>
        <% }); %>
        </div>
        </section>
</div>

<% include partials/footer %>

